/* Main Styles for website */

/*** Contents ***/

/* 

1. Globals - Line 17
2. Mobile Navigaition - Line 
3. Mobile Page Layout Style - Line
4. Desktop Navigation - Line 
5. Desktop Page Mobile Layout - Line 
6. Componemnts - Line
7. Contact Form - Line 

*/

/* Globals */ 

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900');

body {
  position: relative;
}

p, a {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 2px; 
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

li {
  list-style: none;
}

.bg-mid-blue {
  background:#4586DF ;
}

.btn-white {
  background: white;
  padding: 12px 24px;
  border-radius: 100px;
  border: none;
  text-align: center;
  color: #4586DF;
  font-size: 16px;
}

/* MOBILE NAV */
/* Mobile Navbar */
.mobile-navbar {
  background: white;
  height: 65px;
  width: 100%;
  box-shadow: 0 -1px 12px lightgrey;
}

.ion-more {
  font-size: 35px;
  position: absolute;
  left: 25px;
  top: 5px;
  color: #282828;
  transition: all .3s;
}

.ion-more:hover {
  transform: rotate(360deg);
}

.mobile-navbar-btn-call {
  float: right;
  margin-top: 18px;
  background:white;
  box-shadow: 1px -1px 10px lightgrey;
  border-radius: 100px;
  padding: 6px 18px;
  font-size: 13px;
  color: #4586DF;
  letter-spacing: 1px;
}

.ion-chatbubbles {
  padding-right: 5px;
  color: #4586DF;
}

/*  Mobile Nav-Menu */
.mobile-nav {
  background: #4586DF;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top:0;
  left: 0;
  z-index: 500;
  display:none;
  overflow: hidden;
}

.mobile-nav-close-btn {
  width: 100%;
  padding: 15px 0; 
  background: white;
  color: black;
  text-align: center;
}

.mobile-nav-menu {
  margin: 45px 25px;
}

.mobile-nav-menu li {
  padding:3%;
  transition: all .3s;
}

.mobile-nav-menu li:hover, .mobile-nav-menu li:active, .active {
background: rgba(255, 255, 255, 0.356);
}

.mobile-nav-menu li {
  color: white;
}
.sub-nav {
  display: none;
}

.ion-arrow-down-b {
  margin-left: 8px;
}

/* Mobile Page Layout */

.mobile-hero  {
  background: url('../img/mobile-hero-bg-2x.png');
  background-size: cover;
  height: 250px;
  width: 100%;
  text-align: center;


}

.mobile-hero img{
  margin: auto;
  width: 150px;
  margin: 50px auto;
}




@media (min-width: 550px) {
  body {
    display: none;
  }
}