/* Main Styles for website */

/*** Contents ***/

/* 

1. Globals - Line 17
2. Mobile Navigaition - Line 
3. Mobile Page Layout Style - Line
4. Desktop Navigation - Line 
5. Desktop Page Mobile Layout - Line 
6. Componemnts - Line
7. Contact Form - Line 

*/

/* Globals */ 

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900');

body {
  position: relative;
}

p, a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px; 
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

li {
  list-style: none;
}

.bg-mid-blue {
  background:#4586DF ;
}

.btn-white {
  background: white;
  padding: 12px 24px;
  border-radius: 100px;
  border: none;
  text-align: center;
  color: #4586DF;
  font-size: 16px;
}

/* MOBILE NAV */
/* Mobile Navbar */
.mobile-navbar {
  background: white;
  height: 50px;
  width: 100%;
  box-shadow: 0 -1px 12px lightgrey;
}

.ion-more {
  font-size: 35px;
  color: #282828;
}

.mobile-navbar-btn-call {
  float: right;
  margin-top: 8px;
  background:white;
  box-shadow: 1px -1px 10px lightgrey;
  border-radius: 100px;
  padding: 6px 18px;
  font-size: 13px;
  color: #4586DF;
  letter-spacing: 1px;
}

.ion-chatbubbles {
  padding-right: 5px;
  color: #4586DF;
}

/*  Mobile Nav-Menu */
.mobile-nav {
  background: #4586DF;
  height: 100vh;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 500;
  display:none;
}

.mobile-nav-close-btn {
  width: 100%;
  padding: 15px 0; 
  background: white;
  color: black;
  text-align: center;
}

.mobile-nav-menu {
  margin: 75px 25px;
}

.mobile-nav-menu li {
  padding-bottom: 35px;
}
.mobile-nav-menu li {
  color: white;
}


/* Mobile Page Layout */

.mobile-hero  {
  background: url('../img/mobile-hero-bg-2x.png');
  background-size: cover;
  height: 400px;
  width: 100%;
  text-align: center;

}

.mobile-hero img{
  margin: auto;
  width: 200px;
  margin: 50px auto;
}

.angled-section {
 
  background: #4586DF;
  height: 300px;
  position: absolute;
  width:100%;
  top:350px;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 13%, 100% 100%, 0% 100%);

}

.angled-section .mobile-layout-btn-group {
  margin-top: 75px;
  padding: 0 50px;
}
.angled-section .mobile-layout-btn-group .btn-white {
  display: block;
  margin-bottom: 25px;
  font-weight: 400;
  
}

.angled-section .mobile-copy-r {
  font-size: 10px;
  color: white;
}

/* temp
@media (min-width: 550px) {
  body {
    display: none;
  }
}